/* RESET */

*{ margin: 0; padding: 0; }

html { 
  width: 100%; 
  height: 100%; 
  min-height: 100%;  
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/** GRID SYSTEM **/
.gW {
  width: 979px;
  margin: 0 auto;
}
.gd, .gd1, .gd2, .gd3, .gd4, .gd5, .gd6, .gd7, .gd8, .gd9, .gd10, .gd11, .gd12 {
  float: left;
  clear: left;
}
.gd1 {
  width: 8.33%;
}
.gd2 {
  width: 16.66%;
}
.gd3 {
  width: 25%;
}
.gd4 {
  width: 33.33%;
}
.gd5 {
  width: 41.67%;
}
.gd6 {
  width: 50%;
}
.gd7 {
  width: 58.33%;
}
.gd8 {
  width: 66.67%;
}
.gd9 {
  width: 75%;
}
.gd10 {
  width: 83.34%;
}
.gd11 {
  width: 91.67%;
}
.gd12 {
  width: 100%;
}
.gdM, .gdM1, .gdM2, .gdM3, .gdM4, .gdM5, .gdM6, .gdM7, .gdM8, .gdM9, .gdM10, .gdM11, .gdM12 {
  float: right;
  clear: right;
}
.gdM1 {
  width: 8.33%;
}
.gdM2 {
  width: 16.66%;
}
.gdM3 {
  width: 25%;
}
.gdM4 {
  width: 33.33%;
}
.gdM5 {
  width: 41.67%;
}
.gdM6 {
  width: 45%;
}
.gdM7 {
  width: 58.33%;
}
.gdM8 {
  width: 66.67%;
}
.gdM9 {
  width: 75%;
}
.gdM10 {
  width: 83.34%;
}
.gdM11 {
  width: 91.67%;
}
.gdM12 {
  width: 100%;
}
.gdS, .gdS1, .gdS2, .gdS3, .gdS4, .gdS5, .gdS6, .gdS7, .gdS8, .gdS9, .gdS10, .gdS11, .gdS12 {
  float: left;
  margin: 0 1% 2% 1%;
}
.gdS1 {
  width: 6.33%;
}
.gdS2 {
  width: 14.66%;
}
.gdS3 {
  width: 23%;
}
.gdS4 {
  width: 31.33%;
}
.gdS5 {
  width: 38.67%;
}
.gdS6 {
  width: 43%;
}
.gdS7 {
  width: 56.33%;
}
.gdS8 {
  width: 64.67%;
}
.gdS9 {
  width: 71%;
}
.gdS10 {
  width: 81.34%;
}
.gdS11 {
  width: 88.67%;
}
.gdS12 {
  width: 98%;
}
.gdC, .gdC1, .gdC2, .gdC3, .gdC4, .gdC5, .gdC6, .gdC7, .gdC8, .gdC9, .gdC10, .gdC11, .gdC12 {
  margin: 0 auto;
  clear: both;
}
.gdC1 {
  width: 8.33%;
}
.gdC2 {
  width: 16.66%;
}
.gdC3 {
  width: 25%;
}
.gdC4 {
  width: 33.33%;
}
.gdC5 {
  width: 41.67%;
}
.gdC6 {
  width: 50%;
}
.gdC7 {
  width: 58.33%;
}
.gdC8 {
  width: 66.67%;
}
.gdC9 {
  width: 80%;
}
.gdC10 {
  width: 83.34%;
}
.gdC11 {
  width: 91.67%;
}
.gdC12 {
  width: 100%;
}

/* GLOBAL CLASSES */
.hide {
  display: none;
}

.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.lead { 
  /* font-size: 130%; */
  font-size: 18px;
  line-height: 27px;
}

a.cover-photo {
  background-position: center;
  background-size: cover;
  display: block;
  height: 100px;
  width: 100px;
  border: 2px solid #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}  

/* PAGING */
.paging { margin: 20px 0; }
.paging ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.paging ul > li { display: inline; }
.paging ul > li > a,
.paging ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
.paging ul > li > a:hover,
.paging ul > li > a:focus,
.paging ul > .active > a,
.paging ul > .active > span {
  background-color: #f5f5f5;
}
.paging ul > .active > a,
.paging ul > .active > span {
  color: #999999;
  cursor: default;
}
.paging ul > .disabled > span,
.paging ul > .disabled > a,
.paging ul > .disabled > a:hover,
.paging ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}
.paging ul > li:first-child > a,
.paging ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.paging ul > li:last-child > a,
.paging ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
.paging-centered { text-align: center; }
.paging-right { text-align: right; }

/* SEARCH RESULTS - Pagination */
  .sisea-paging {padding:10px;}
  .sisea-paging p {display: none;}
  .sisea-result-pages {margin-right: 10px;}
  .sisea-page {
    border-radius: 4px;
    padding: 4px 12px;
    line-height: 30px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;}
  .sisea-page:hover {cursor: pointer; background-color: #f5f5f5;}
  .sisea-current-page {background-color: #f1f1f1;}
  .sisea-page a {}
  .sisea-page a:hover {}

/* BREADCRUMBS */
.B_crumbBox { list-style: none; margin: 8px 0 0 5px; font-size: 14px; }
.B_crumbBox li { display: inline; } 


/* END GLOBAL CLASSES */

body {
  font-family: 'Lucida Grande','Lucida Sans Unicode', Verdana, Sans-Serif;
  font-size: 14px;
  line-height: 26px;
  width: 100%; 
  color: #656564;
  position: relative; 
  background: url(../images/bg.png) 0 0 repeat; 
  overflow-x: hidden; 
  text-shadow: 0 1px 1px rgba(255,255,255,0.8); 
}

a { color: #00CD2A; text-decoration: none; }
a:hover { text-decoration: none; color: #53A653; }

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}

h2 { 
  font-size: 18px;
  line-height: 1.75em;
}

h1 a, h2 a { color: inherit; }
h1 a:hover, h2 a:hover { color: inherit; }
h1, h2, h3 { font-weight: normal; }
h3 { 
  font-size: 16px;
  margin-bottom: 5px; 
}

#ArticlesContainerTemplate h1, #ArticleTemplate h1, #ArticleSearchTemplate h1 { 
  border-bottom: 2px solid #eee;
  padding: 16px 0;
}

#ArticlesHomeTemplate h1 { 
  text-transform: uppercase;
  color: #888;
  padding: 0 0 8px; 
  text-align: center;
}

#ArticlesHomeTemplate h2 {
  font-size: 24px;
  text-indent: 12px; 
}

button i { color: #eee; }

/** HEADER **/
header { 
  width: 100%; 
  background: 
  url(../images/bg-header.png) 0 0 repeat-x,
  url(../images/bg.png) 0 0 repeat; 
  background-color: #e4e4e4\9;
  *background-image: none;
  *background-color: #e4e4e4;
  _background: url(../images/bg-header.gif) 0 0 repeat-x, url(../images/bg.png) 0 0 repeat; 
}

header nav ul {
  width: 53%;
  float: left;
  text-align: center;
}

header nav li {
  width: 16%;
  vertical-align: top;
  font-size: 12px;
  line-height: 1em;
}

.logo { 
  float: left;
  /*width: 22%;*/
}

.logo a { 
  width: 172px; 
  height: 78px; 
  margin: 10px auto;
  display: block; 
  background: url(../images/logo.png) 0 0 no-repeat; 
  _background: url(../images/logo.gif) 0 0 no-repeat; 
}

.iconNav,.autosIcon,.eduIcon,.hiIcon,.insIcon,.reIcon,.glassIcon { 
  color: #9ba199; 
  background: url(../images/navIcons.png) center 0 no-repeat; 
  _background: url(../images/navIcons.gif) center 0 no-repeat; 
  cursor: pointer; 
  display: block; 
  padding: 62px 0 0 0; 
  text-align: center; 
  width: 100%; 
  position: relative; 
  z-index: 9; 
  text-decoration: none; 
}

.iconNav:hover,.autosIcon:hover,.eduIcon:hover,.hiIcon:hover,.insIcon:hover,.reIcon:hover,.glassIcon:hover { color: #50c439; }
.autosIcon { background-position: center -2%; }
.autosIcon:hover,.autosIcon.active { background-position: center 53%; }
.eduIcon { background-position: center 8%; }
.eduIcon:hover,.eduIcon.active { background-position: center 63%; }
.hiIcon { background-position: center 18%; }
.hiIcon:hover,.hiIcon.active { background-position: center 74%; }
.insIcon { background-position: center 44%; }
.insIcon:hover,.insIcon.active { background-position: center 99%; }
.reIcon { background-position: center 35%; }
.reIcon:hover,.reIcon.active { background-position: center 90%; }
.glassIcon { background-position: center 26%; }
.glassIcon:hover,.glassIcon.active { background-position: center 81%; }

.menue { display: none; }
.mOff { display: block; }

.simple-search-wrapper { float: left; width: 20%;}

.simple-search-wrapper form {    
  margin: 35px 5px 5px auto;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
.simple-search-wrapper form input {
  background-color: #EDEDED;
  box-shadow: inset 0px 1px 2px #999;
  -moz-box-shadow: inset 0px 1px 2px #999;
  -webkit-box-shadow: inset 0px 1px 2px #999;
  border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
  vertical-align: top;
  padding: 4px 6px 4px 12px;
  /*font-size: 13px;
  line-height: 20px;*/
  width: 65%;
  border: 1px solid #cccccc;
}
.simple-search-wrapper form button[title="Search"].btn { 
  border-radius: 0 30px 30px 0; 
  -moz-border-radius: 0 30px 30px 0; 
  -webkit-border-radius: 0 30px 30px 0; 
  margin-left: -5px;
  vertical-align: top;
}

/** MAIN **/
.main { 
  margin-bottom: 2px;
  padding: 0 0 30px;
  background: url(../images/bg.png) 0 0 repeat;
}

/* CAROUSEL */
.carousel-wrapper {
  background-color: #CFCFCF;
  padding: 10px 0 0;
  border-bottom: 4px solid #efefef;
  box-shadow: inset 0px 3px 2px #bbb;
  -moz-box-shadow: inset 0px 3px 2px #bbb;
  -webkit-box-shadow: inset 0px 3px 2px #bbb;
}

#LatestArticlesCarousel { margin-bottom: 20px; }

.carousel-inner { 
  width: 780px; 
  margin: 0 auto;
}

.carousel-inner h3 {
  text-transform: uppercase;
  color: #888;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
}

.carousel-control-custom i {
  position: absolute;
  text-shadow: 0px 2px 1px #888;
  top: 40%;
  font-size: 60px;
  color: #e3e3e3;
}
.carousel-control-custom i:hover { color: #efefef; }
.carousel-control-custom i.icon-circle-arrow-left {
  left: 15px;
  right: auto;
}
.carousel-control-custom i.icon-circle-arrow-right {
  right: 15px;
  left: auto;
}

/* ARTICLE CONTENT */
.article-wrapper {
  width: 92%;
  background-color: #fff;
  border: 5px solid #eee;
  padding: 0px 15px;
  margin: 10px 0 10px 10px;
  box-shadow: 0 2px 20px #bbb;
  -moz-box-shadow: 0 2px 20px #bbb;
  -webkit-box-shadow: 0 2px 20px #bbb;
}
#ArticlesHomeTemplate .article-wrapper { 
  height: 290px;
  margin-bottom: 25px;
  padding: 0; 
}
.article-wrapper .post-info { font-size: 12px; color: #B0B0B0; }
.article-wrapper .entry img {
  margin: 0px 10px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.article-wrapper .entry h1 a, .entry h2 a, .entry h3 a, .entry h4 a { color: #00CD2A; }
.article-wrapper .entry ul li {
  position: relative;
  left: 1em;
  width: 96%;
}

.article-wrapper .category-list {
  float: left;
  padding: 0 1.5%;
  width: 26%;
  background-color: #f5f5f5;
  height: 100%;
}
.article-wrapper .category-list h3 {
  text-transform: uppercase;
  font-weight: normal;
  padding: 7px 0;
  color: #888888;
  margin: 0;
  line-height: 1.25em;
}
.article-wrapper .category-list ul li { 
  line-height: 1.25em;
  font-size: 12px;
  text-transform: capitalize;
  border-bottom: 1px dotted #ddd;
  padding: 5px 0;
}

.article-wrapper .category-list ul li:last-child { border: none; }

.article-wrapper .postmeta .read-more { 
  background: url(../images/read_more_bg_150x60.png) 0 0 no-repeat; 
  height: 60px;
  width: 150px;
  text-align: center;
  position: relative;
  left: 32px;
  bottom: 15px;
}

.article-wrapper .postmeta .read-more a { height: 100%; display: block; padding-top: 14px; color: inherit; }
.article-wrapper .postmeta .read-more a:hover { color: #00CD2A; }
.article-wrapper .postmeta .read-more a i { vertical-align: middle; }

a.sem-button { 
  text-align: center; 
  font-size: 18px;
  display: block; 
  box-shadow: 0px 2px 2px 0px #bbb;
  -moz-box-shadow: 0px 2px 2px 0px #bbb;
  -webkit-box-shadow: 0px 2px 2px 0px #bbb;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 3px solid #fadc91;
  margin: 18px auto;
  height: 60px;
  position: relative;
}

a.sem-button:hover { color: #FADC91; }
a.sem-button .sem-button-side-text { 
  background-color: #fadc91;
  display: block;
  height: 94%;
  color: #f99910;
  text-transform: uppercase;
  border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  border-top: 2px solid #F1BA74;
  border-left: 2px solid #F1BA74;
  border-bottom: 2px solid #F1BA74;
  position: absolute;
  left: 0;
  width: 19%;
}

a.sem-button .sem-button-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  position: absolute;
  left: 20%;
  width: 74%;
  top: 25%;
} 

a.sem-button .sem-button-icon {
  position: absolute;
  right: 6px;
  top: 18%;
}

.ie7 a.sem-button .sem-button-text {
  top: 12%;
}

a.sem-button i { 
  vertical-align: middle; 
  font-size: 38px;
  color: #fadc91; 
}

.article-preview {
  line-height: 1.25em;
}

.article-preview a.cover-photo {
  background-size: cover;
  display: block;
  border: 2px solid #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 auto;
}
.article-preview .title {
  /*font-weight: bold;
  line-height: 1.25em;*/
  color: #757474;
  margin: 5px auto 15px;
}
.article-preview .info {
  font-size: 11px;
  font-style: italic;
  margin: 5px 0 0;
  color: #aaa;
  line-height: 1.25em;
}
.article-preview .intro {
  /* font-size: 88%;
  line-height: 1.25em; */
}
.article-preview a.tab {
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.article-preview a.tab i {
  color: #fff;
  margin-top: 6px;
  text-shadow: 0px 2px 1px #666;
} 

.article-mini, .article-medium {
  float: left;
  position: relative;
}

.article-mini {
  background-color: #fff;
  width: 130px;
  height: 180px;
  border: 5px solid #eee;
  margin-right: 10px;
  padding: 3px;
}
.article-mini a.cover-photo {
  background-size: cover;
  display: block;
  height: 100px;
  width: 100px;
}
.article-mini .title {
  text-align: center;
  font-weight: bold;
  width: 90%;
  font-size: 12px;
  line-height: 1.25em;
}
.article-mini .info {
  position: absolute;
  bottom: 0;
}
.article-mini .info p { margin: 0 0 2px; }
.article-mini a.tab {
  background: url(../images/plus_tab.png) no-repeat;
  height: 33px;
  width: 33px;
  position: absolute;
  right: -13px;
  bottom: 0;
}
.article-medium {
  padding: 10px 1.5%;
  width: 32.5%;
  height: 100%;
}

.article-medium a.cover-photo {
  background-position: top;
  height: 85px;
  width: 98%;
}
.article-medium .info p { margin: 0; }
.article-medium .title {
  overflow: hidden;
  margin-bottom: 8px;
  font-weight: bold;
}
.article-medium a.tab {
  text-shadow: 0px 2px 1px #666;
  background-color: #459C23;
  color: #fff;
  padding: 0 12px;
  margin: 5px 0 0;
  position: absolute;
  width: 82%;
  bottom: 24px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.75em;
}

.article-row { padding: 10px 0 0; border-bottom: 2px dotted #eee; text-align: left; }
.article-row a.cover-photo {
  background-position: center;
  background-size: cover;
  display: block;
  height: 100px;
  width: 100px;
  border: 2px solid #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 10px;
}

.article-row .entry p a { color: inherit; }

/* BIOS */
.bio-blurb { margin-top: 15px; }
.bio-blurb img { margin-right: 10px; }
.bio-blurb .lead { margin-bottom: 5px; }
.bio-blurb .lead span { color: #A1A1A1; }
.bio-blurb p:nth-child(2) { font-size: 12px; margin: 0; }

/** ARTICLE GALLERY **/
.gallery-container h2 {
  text-indent: 15px;
}
#gallery li {
  width: auto;
}
#modal-gallery .modal-image img {
  border: none;
  box-shadow: none;
  -mox-box-shadow: none;
  -webkit-box-shadow: none;
  padding: 0;
  margin: auto;
}

/** ASIDE **/
#ArticlesHomeTemplate aside {
  margin-top: 85px;
  text-align: center;
}

.sidemenu { 
  width: 75%;
  margin: 10px auto 30px; 
} 
.sidemenu ul li {
  border-bottom: 2px dotted #ddd;
  padding: 6px 0;
}

/** SOCIAL SHARE BOX **/
#social-tab:hover {
  cursor: pointer;
}
#social-box {
  box-shadow: 0px 1px 10px #bbb;
  -webkit-box-shadow: 0px 1px 10px #bbb;
  -moz-box-shadow: 0px 1px 10px #bbb;
  position: absolute; 
  left: 0%; 
  background-color: #dfdfdf;
  border-top: 2px solid #ccc;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc; background-color: #dfdfdf; 
  width: 65px;
  text-align: center;
  z-index: 999;
}

#social-box.affix {
	position: fixed;
	top: 0px;
}

#social-box li { padding: 5px 0 2px; border-bottom: 2px solid #ccc; border-top: 1px solid #fff; }
#social-box li:first-child, #box li:nth-child(2) { border-top: none; }
#social-box li:first-child {
  padding: 4px 0 0;
  border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#social-box li:last-child { border-bottom: none; }
#social-box li i { font-size: 20px; }
.share-text { text-transform: uppercase; letter-spacing: 1px; }
.share-text-rotate {
  padding: 10px 0;
  display: block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

/* fb widget align fix */
.fb_iframe_widget iframe { left: 0px; }

/** FOOTER **/
footer { background: url(../images/debut_dark_v2.png) 0 0 repeat; color: #E6E6E6; text-shadow: none; } 
footer h4 { font-weight: normal; }
footer a { color: inherit; }
footer a:hover { text-decoration: none; }
footer ul, footer p { margin-bottom: 0; }

.footer-top ul { font-size: 12px; }
.footer-top { padding-bottom: 40px; border-bottom: 1px solid #666; }

.accordion-button i { margin-left: 6px; cursor: pointer; }

.footer-bottom { 
   font-size: 11px;
   padding: 6px 10px 0 0;
   color: #888;
}
.footer-bottom p {
  float: right;
  text-align: right;
}

/** MEDIA QUERIES **/

@media (min-width: 1300px) { 
  .gW { width: 1200px; } 
  header nav ul { width: 60%; }
  .hiIcon:hover,.hiIcon.active { background-position: center 73%; }
  a.sem-button { line-height: 3.25em; }
  a.sem-button .sem-button-text, 
  a.sem-button .sem-button-icon {
    top: 0%;  
  }
}

@media (max-width: 1299px) {
  a.sem-button .sem-button-text { line-height: 1.25em; }
}

@media (max-width: 1200px) { 
  #ArticlesHomeTemplate .article-wrapper { height: 290px; } 
}

@media only screen and (max-width: 1170px) { 
  .gW { width: 90%; } 
  .carousel-control-custom i.icon-circle-arrow-left { left: 5px; } 
  .carousel-control-custom i.icon-circle-arrow-right { right: 5px; } 
}

@media only screen and (max-width: 979px) { 
  .gW { width: 85%; }
  .carousel-control-custom i.icon-circle-arrow-left { left: -5px; } 
  .carousel-control-custom i.icon-circle-arrow-right { right: -5px; } 
  a.sem-button .sem-button-text { top: 12%; }
}

@media (min-width: 768px) and (max-width: 979px) {
  .logo { width: 28%; }
  header nav ul {
    width: 72%;
    margin: 10px 0 0;
  }
  .simple-search-wrapper { width: 100%; text-align: center; }
  .simple-search-wrapper form { margin: 0; }
  .simple-search-wrapper form input { width: auto; }
  .carousel-inner {width:575px;}
  .article-preview .title { 
  }
  .article-mini {
    background-color: #FFFFFF;
    border: 2px solid #BFBFBF;
    height: 130px;
    margin-right: 5px;
    padding: 3px;
    width: 100px;
  }
  .article-mini a.cover-photo { width: 50%; height: 30%; }
  .article-mini .title { margin: 5px auto 20px; }
  .article-mini .info { bottom: 5px; position: absolute; }
  .article-mini a.tab { bottom: -10px; right: 0px; }

  .article-wrapper a.sem-button { font-size: 16px; }
  .article-wrapper a.sem-button .sem-button-icon { right: 3px; }

}

@media (max-width: 767px) {
  body { padding: 0; }
  #ArticlesHomeTemplate h2 { 
    text-align: center; 
  }
  header .nav { float: none; }
  .logo { width: 100%; }

  header nav ul { width: 100%; text-align: center; margin: -20px 0 20px; }
  header nav li { width: 16%; }

  .mOff { display: none; }

  .simple-search-wrapper {  
    text-align: center;
    width: 100%; 
  }
  .simple-search-wrapper form { margin: 0 0 10px; }
  .simple-search-wrapper form input { width: auto; }

  .carousel-inner { width: 350px; }
  .carousel-control-custom i.icon-circle-arrow-left { left: -12px; } 
  .carousel-control-custom i.icon-circle-arrow-right { right: -12px; } 

  .article-mini {
    background-color: #FFFFFF;
    border: 2px solid #BFBFBF;
    height: 130px;
    margin-right: 5px;
    padding: 3px;
    width: 100px;
  }
  .article-mini a.cover-photo { width:50px; height:50px; }
  .article-mini .title { font-weight: normal; font-size: 11px; margin: 5px auto 20px; }
  .article-mini .info { bottom: 5px; position: absolute; }
  .article-mini a.tab { bottom: -10px; right: 0px; }

  #ArticlesHomeTemplate .article-wrapper { height: 290px; }

  .article-wrapper { width: 85%; margin: 0 auto; }

  a.sem-button .sem-button-side-text { font-size: 16px; }

  .article-medium a.tab { width: 80%; }

  #ArticlesHomeTemplate aside { margin-top: 0; }
  aside { padding: 20px 0; text-align: center; }

  .sidemenu { width: 100%; }

  .footer-top { margin: 0 auto; width: 85%; }
  .footer-bottom { width: auto; }
  .footer-bottom p, .footer-bottom ul { text-align: center; }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .gd, .gd1, .gd2, .gd3, .gd4, .gd5, .gd6, .gd7, .gd8, .gd9, .gd10, .gd11, .gd12 {
    float: none;
    width: 100%;
  }
  .gdM, .gdM1, .gdM2, .gdM3, .gdM4, .gdM5, .gdM6, .gdM7, .gdM8, .gdM9, .gdM10, .gdM11, .gdM12, .gdS12 {
    float: none;
    width: 100%;
  }
  .gdS, .gdS1, .gdS2, .gdS3, .gdS4, .gdS5, .gdS6, .gdS7, .gdS8, .gdS9, .gdS10, .gdS11, .gdS12 {
    float: none;
    width: 100%;
    margin: 0;
  }
  .article-medium, .category-list h3 {
    font-size: 88%;
  }
  .category-list ul li {
    font-size: 11px;
  }
  .article-wrapper a.sem-button .sem-button-icon {
    right: 3px;
  }
}

@media (max-width: 550px) {
  a.sem-button .sem-button-text { font-size: 16px; }
}

@media only screen and (min-width:  320px) and (max-width:  767px) { 
  nav { width: 100%; }
  .menue { background: url("../images/sm-icon.png") no-repeat scroll 0 -1165px transparent; float: left; height: 40px; width: 30px; color: #9BA199; margin: 0; cursor: pointer; margin: 0 0 0 4%; display: block; }
  .menue:hover { color: #52c03f; }
  .menue:hover,.menue.open { background-position: 0 -1085px; }
  .menue { position: absolute; left: 0; top: 30px; }
  .logo { width: 100%; }
  .logo a { float: none; }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .gd, .gd1, .gd2, .gd3, .gd4, .gd5, .gd6, .gd7, .gd8, .gd9, .gd10, .gd11, .gd12 {
    float: none;
    width: 100%;
  }
  .gdM, .gdM1, .gdM2, .gdM3, .gdM4, .gdM5, .gdM6, .gdM7, .gdM8, .gdM9, .gdM10, .gdM11, .gdM12, .gdS12 {
    float: none;
    width: 100%;
  }
  .gdS, .gdS1, .gdS2, .gdS3, .gdS4, .gdS5, .gdS6, .gdS7, .gdS8, .gdS9, .gdS10, .gdS11, .gdS12 {
    float: none;
    width: 100%;
    margin: 0;
  }
  .gdC, .gdC1, .gdC2, .gdC3, .gdC4, .gdC5, .gdC6, .gdC7, .gdC8, .gdC9, .gdC10, .gdC11, .gdC12 {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .gW { width: 90%; }
  #ArticlesHomeTemplate h2 { text-align: center; }
  header nav ul { 
    margin: -10px auto 0;
    width: 100%;
    height: 0;
  }
  header nav li { 
    width: 70%; 
    vertical-align: middle;
  }

  .iconNav, .autosIcon, .eduIcon, .hiIcon, .insIcon, .reIcon, .glassIcon {
    background-size: 30px 524px;
    padding: 12px 0px 15px 28%;
    text-align: left;
  }

  .autosIcon { background-position: 5% -2%; }
  .eduIcon { background-position: 5% 8%; }
  .insIcon { background-position: 5% 44%; }
  .reIcon { background-position: 5% 35%; }
  .hiIcon { background-position: 5% 18%; }
  .glassIcon { background-position: 5% 26%; }

  .autosIcon:hover, .autosIcon.active { background-position: 5% 53%; }
  .eduIcon:hover, .eduIcon.active { background-position: 5% 63%; }
  .insIcon:hover, .insIcon.active { background-position: 5% 99%; }
  .reIcon:hover, .reIcon.active { background-position: 5% 90%; }
  .hiIcon:hover, .hiIcon.active { background-position: 5% 73%; }
  .glassIcon:hover, .glassIcon.active { background-position: 5% 81%; }

  .simple-search-wrapper form { margin: 0; }

  #LatestArticlesCarousel { margin: 5px auto 10px; overflow: visible; }
  .carousel-inner { width: 272px; }
  .carousel-inner h3 { font-size: 13px; margin: 0 auto 12px; }
  .carousel-control-custom i { 
    color: #949494; 
    font-size: 32px;
    text-shadow: none; 
    top: 3%; 
  }
  .carousel-control-custom i:hover {color:#ACACAC;}

  .article-wrapper .entry img { margin: 0 auto; }

  .article-wrapper { width: 80%; margin: 10px auto; }
  #ArticlesHomeTemplate .article-wrapper { height: auto; } 
  .article-wrapper .postmeta .read-more { left: 32px; }
  .article-wrapper .category-list { width: 100%; text-align: center; }

  .article-mini { width: 80px; height: 120px; margin-right: 0; }
  .article-mini a.cover-photo { height: 28%; width: 90%; }
  .article-mini .title { width: 100%; }

  .article-medium, .article-wrapper .category-list { float: none; padding: 0; }
  .article-medium { width: 90%; margin: 10px auto; }
  .article-medium a.tab {   
    position: static;
    width: auto;
    bottom: auto;
  }

  a.sem-button .sem-button-side-text {
    display: none;
  }
  a.sem-button .sem-button-text {
    left: 3%;
    width: 85%;
    top: 17%;
    font-size: 14px;
    line-height: 1.25em;
  }
 /* modal gallery fix on mobile */
 .modal {
	position: fixed; 
    top: 3%; 
    right: 3%; 
    left: 3%; 
    width: auto; 
    margin: 0; 
 }

 .modal-body { 
    height: 60%;
	max-height: 350px; 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
 }
 /* end modal gallery fix on mobile */
}