    <header class="clearfix">
      <div class="gW clearfix">
        <nav class="clearfix">
          <div class="logo"><a href="[[++reply_site_url]]resources/"></a></div>
          <ul class="unstyled inline clearfix">
            <li><a href="[[++reply_site_url]]automotive/" class="autosIcon mOff">Autos</a></li>
            <li><a href="[[++reply_site_url]]insurance/" class="insIcon mOff">Insurance</a></li>
            <li><a href="[[++reply_site_url]]realestate/" class="reIcon mOff">Real Estate</a></li>
            <li><a href="[[++reply_site_url]]home-improvement/" class="hiIcon mOff">Home Improvement</a></li>
            <li><a href="http://www.glass.net" class="glassIcon mOff">Glass</a></li>
          </ul>
          <div class="menue"></div>
          <div class="simple-search-wrapper">
            [[!SimpleSearchForm? &tpl=`SimpleSearchPageFormTpl` &landing=`563`]]
          </div>  
        </nav>
      </div> <!-- /gW -->
    </header>